@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.name {
  font-family: 'Montserrat', sans-serif;
  color: white;
  /* font-size: 100px; 
  float: right;
  margin: 0 20px; */
	display: inline-block;
  opacity: 1;
  animation: fadeIn ease 5s;
  position: relative;
  font-size : 7vw;
  overflow: hidden;
}

.sub-text {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size : 2vw;
  -webkit-animation: 4s ease 0s normal forwards 1 fadein;
  animation: 4s ease 0s normal forwards 1 fadein;
  position: relative; 
}

.linkedin {
  animation: 5s ease 0s normal forwards 1 fadein;
  margin-right: 10px;
}

.medium {
  animation: 5.5s ease 0s normal forwards 1 fadein;
  margin-right: 10px;
}

.github {
  animation: 6s ease 0s normal forwards 1 fadein;
  margin-right: 10px;
}

.container {
  margin-left: 50%;
  text-align: center;
  margin-top: 10%;
  margin-right: 5%;
}

@keyframes fadein{
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:1; }
}

@-webkit-keyframes fadein{
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:1; }
}
