@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.name {
  font-family: 'Montserrat', sans-serif;
  color: white;
	display: inline-block;
  opacity: 1;
  animation: fadeIn ease 3s;
  position: relative;
  font-size : 7.5vw;
  overflow: hidden;
}

.sub-text {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size : 3vw;
  -webkit-animation: 3s ease 0s normal forwards 1 fadein;
  animation: 3s ease 0s normal forwards 1 fadein;
  position: relative; 
}


.linkedin {
  animation: 5s ease 0s normal forwards 1 fadein;
  margin-right: 11px;
}

.medium {
  animation: 5.5s ease 0s normal forwards 1 fadein;
  margin-right: 11px;
}

.github {
  animation: 6s ease 0s normal forwards 1 fadein;
  margin-right: 11px;
}

.project-title {
  font-family: 'Montserrat', sans-serif;
  color: white;
	display: inline-block;
  font-size: 8vw;
}

.project-title:hover {
  color: #CEE1F2;
}

.header-container {
  margin-left: 50%;
  text-align: center;
  margin-top: 6%;
  margin-right: 4%;
}

.description-container {
  text-align: center;
  margin: 5%;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width: 400px;
  height: auto;
  box-shadow: 0 30px 40px 0 rgba(16, 36, 94, 0.2);
}

.section-title {
  text-align: center;
  margin: 5%;
}

.skill-container {
  background-color: white;
  border: solid white;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 30px 40px 0 rgba(16, 36, 94, 0.2);
  margin-top: 30px;
}

.skill {
  font-family: 'Montserrat', sans-serif;
  color: gray;
  font-size : 3vw;
  position: relative; 
}

.project-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.project {
  flex: 0 1 75%; 
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 50px;
}

.resume-grid {
  display: grid;
  justify-content: center;
  text-align: center;
  grid-gap: 7rem;
  grid-template-columns: repeat(auto-fit, minmax(500px, 0fr));
  place-items: center;
  margin-bottom: 50px;
}

.resume {
  /* flex: 0 1 100%;  */
  /* margin-bottom: 50px; */
  border: solid;
  border-color: white;
  border-radius: 8px;
  box-shadow: 0 30px 40px 0 rgba(16, 36, 94, 0.2);
} 

.resume-controls {
  background: white;
  box-shadow: 0 30px 40px 0 rgba(16, 36, 94, 0.2); 
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
} 

@keyframes fadein{
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:1; }
}

@-webkit-keyframes fadein{
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:1; }
}
