@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.name {
  font-family: 'Montserrat', sans-serif;
  color: white;
	display: inline-block;
  opacity: 1;
  animation: fadeIn ease 3s;
  position: relative;
  font-size : 7.5vw;
  overflow: hidden;
}

.sub-text {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size : 3vw;
  -webkit-animation: 3s ease 0s normal forwards 1 fadein;
  animation: 3s ease 0s normal forwards 1 fadein;
  position: relative; 
}

.linkedin {
  animation: 5s ease 0s normal forwards 1 fadein;
  margin-right: 11px;
}

.medium {
  animation: 5.5s ease 0s normal forwards 1 fadein;
  margin-right: 11px;
}

.github {
  animation: 6s ease 0s normal forwards 1 fadein;
  margin-right: 11px;
}

.project-title {
  font-family: 'Montserrat', sans-serif;
  color: white;
	display: inline-block;
  font-size: 8vw;
}

.project-title:hover {
  color: #CEE1F2;
}

.header-container {
  margin-left: 50%;
  text-align: center;
  margin-top: 6%;
  margin-right: 4%;
}

.description-container {
  text-align: center;
  margin: 5%;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width: 400px;
  height: auto;
}

.section-title {
  text-align: center;
  margin: 5%;
}

/* .project-grid {
  display: grid;
  grid-gap: 8rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, .5fr));
  margin: 5%;
  text-align: center;
} */
.project-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.project {
  flex: 0 1 85%; 
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 50px;
  /* margin-right: 10px; */
  border: solid;
  background-color: black;
  border-radius: 8px;
}


@keyframes fadein{
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:1; }
}

@-webkit-keyframes fadein{
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:1; }
}
